<script type="text/javascript">
$(document).ready(function(){

//Check if the current URL contains '#'
if(document.URL.indexOf("#")==-1)
{
// Set the URL to whatever it was plus "#".
url = document.URL+"#";
location = "#";

//Reload the page
location.reload(true);

}
});
</script> 
<body>
    <div class="container-fluid">
        <h1>EMDR Cycle</h1>
        <div id="my-wizard" class="wizard">
        <!-- Setting up steps row -->
            <ul class="steps">
                <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Assessment<span class="chevron"></span></li>
                <li data-target="#step2"><span class="badge">2</span>Overview<span class="chevron"></span></li>
                <li data-target="#step3"><span class="badge">3</span>Desensitization<span class="chevron"></span></li>
                <li data-target="#step4"><span class="badge">4</span>Installation<span class="chevron"></span></li>
                <li data-target="#step5"><span class="badge">5</span>Body Scan<span class="chevron"></span></li>
                <li data-target="#step6"><span class="badge">6</span>Closure<span class="chevron"></span></li>
            </ul>
            <div class="actions">
                <button class="btn btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
                <button class="btn btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
            </div>
        </div>

        <div class="step-content">
            <div class="step-pane active alert alert-info" id="step1">
                <div id="assessment_form"><%= render 'form' %></div>
            </div>

            <div class="step-pane alert alert-info" id="step2">
                Quick Cycle Overview
            </div>
    
            <div class="step-pane" id="step3">
                <div class="row-fluid"> 
                    <div class="span6 alert alert-info">
                        <%= render 'dataform' %>
                    </div>
                    <div class="span6" id="bls_phase4">
                        <br>
                        <p>BLS Desensitization Chart</p>
                        <br>
                        <%= render 'chart' %>
                    </div>
                </div>
            </div>

            <div class="step-pane" id="step4">
                <div class="row-fluid">
                    <div class="span6 alert alert-info">
                        <%= render 'graphform' %>
                    </div>
                    <div class="span6" id="bls_install4">
                        <br>
                        <p>BLS Installation Chart</p>
                        <br>
                        <%= render 'graph' %>
                    </div>
                </div>
            </div>

            <div class="step-pane alert alert-info" id="step5">
                <h4>Closure</h4>
                <br>
                <%= render 'closeform' %>
            </div>

            <div class="step-pane alert alert-info" id="step6">
                <h4>Closure</h4>
                    <p>Add closing instructions here.</p>
            </div>

        </div>
    </div>
 
</body>