<!DOCTYPE html>
<html>
<head>
  <title>VR Platform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container-fluid">
        <nav>
    	<h2 class="navbar-brand"><font color="CE680F">MANDALA VR THERAPY</font></h2>
          <ul class="nav navbar-nav">
            <li><%= link_to "HOME",    patients_path %></li>
            <li><%= link_to "SCHEDULE", sessions_path %></li>
            <li><%= link_to "PATIENT REPORTS", patients_path %></li>
          </ul>
        </nav>
      </div>
    </div>
    </header>

	<div class="container-fluid">

	<%= yield %>
	
	</div>
</body>
</html>
