<html lang="en" class="fuelux">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="https://fuelcdn.com/fuelux/2.3/css/fuelux.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="container-fluid">
  <%= nav_bar fixed: :top, brand: "Mandala VR Therapy", responsive: false do %>
      <%= menu_group do %>
          <%= menu_item "Home", patients_path %>
          <%= menu_divider %>
          <%= menu_item "Calendar", sessions_path %>
          <%= menu_divider %>
          <%= menu_item "Patient Reports", patients_path %>
      <% end %>

      <%= menu_group pull: :right do %>
        <%=menu_text "VR Administration Instructions" %>
      <% end %>
  <% end %>
  </div>

	<%= yield %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://fuelcdn.com/fuelux/2.3/loader.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
</body>

</html>

