<html lang="en" class="fuelux">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="https://fuelcdn.com/fuelux/2.3/css/fuelux.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <nav>
        <h2 class="navbar-brand"><font color="CE680F">MANDALA VR</font></h2>
            <ul class="nav navbar-nav">
              <li><%= link_to "HOME",    patients_path %></li>
              <li><%= link_to "SCHEDULE", sessions_path %></li>
              <li><%= link_to "PATIENT REPORTS", patients_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

	<%= yield %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://fuelcdn.com/fuelux/2.3/loader.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
</body>

</html>

