<h2>Patients</h2>

<%= form_tag patients_path, method: "GET" do %>
  <%= text_field_tag :q, params[:q] %>
  <%= submit_tag "Search" %>
<% end %>

<%= render 'table' %>

<%= button_to "Register Patient", new_patient_path, :id => 'patient', :class=> "btn btn-default", :method => :get %>
