<h3><%= @patient.fullname%> Profile</h3>
<div class="row-fluid">
	<div class="span6 alert alert-success">
		<p><b>Gender:</b> <%= @patient.gender %>	<b>Age:</b> <%= @patient.age %></p>
		<p><b>Telephone Number:</b> <%= @patient.telephone_no%></p>
		<p><b>Emergency Contact:</b> <%= @patient.emergencycontact%>, <em><%=@patient.emergencycontact_no%></em></p>
		<p><b>Medications:</b> <%= @patient.medication%></p>
		<p><b>Conditions:</b>
			<ul>
				<% if @patient.conditions.nil? %>
					<li>None</li>
				<% else %>
				<% m = @patient.conditions.count %>
				<% n = m-1 %>
				<% @patient.conditions.first(n).each do |c| %>
					<li><%= c %></li>
				<% end %>
				<% end %>
			</ul>
		</p>
		<p><b>Session History:</b>
			<ul>
				<ul>
				<% @patient.sessions.each do |session| %>
			<li><%= link_to "#{session.session_label}", session_path(session.id)%></li>
			<% end %>
		</ul>
		<br>
		<%= link_to "Edit", edit_patient_path(@patient) %>
		<br>
		<%= link_to "Schedule Session", new_session_path %>
	</div>
	<div class="span6 alert alert-success">
		<h3 class="lead">Social Determinants</h3>
		<% if @patient.determinant.blank? %>
			<p><%= link_to "Add Patient Background", new_determinant_path %></p>
		<% else %>
			<p><b>Occupation:</b> <%= @patient.determinant.occupation %></p>
			<p><b>Education:</b> <%= @patient.determinant.education %></p>
			<p><b>Support Network:</b> <%= @patient.determinant.support_network %></p>
			<p><b>Living Conditions:</b> <%= @patient.determinant.living_conditions %></p>
			<p><b>Personal Interests / Strengths:</b> <%= @patient.determinant.personal_interest %></p>
			<p><b>ACE Response:</b>
				<ul>
					<% score = 0 %>
					<% response = @patient.determinant.ace_response.split(",") %>
					<% response.each.with_index do |q, index| %>
						<% if q == "yes" || q == " yes" %>
							<li><%= "#{ace_list[index]}" %></li>
							<% score = score + 1 %>
						<% end %>
					<% end %>
					<br>
					<li><b>ACE SCORE:</b> <%= "#{score}" %></li>
				</ul>
			</p>
			<br>
			<p><%= link_to "Edit", edit_determinant_path(@patient.determinant.id) %></p>
		<% end %>
	
	</div>
</div>

