<h2>View Session</h2>
<p><b>Patient:</b> <%= link_to "#{@session.patient.fullname}", patient_path(@session.patient.id) %></p>
<p><b><%= @session.appointment_date.strftime("%a %b %d, %I:%M%p")%></b></p>
<p><b>Session No.</b> <%= @session.number %></p>
<ul>
	<% @session.cycles.each do |cycle| %>
	<li><%= link_to "Cycle Targeting #{cycle.negativecognition}", cycle_path(cycle.id)%></li>
	<% end %>
</ul>

<p><%= link_to "Edit", edit_session_path(@session) %></p>
<br>
<p><% if @session.number == "1" %>
	<%= link_to "Start Initial Session", new_patient_path %>
	<% elsif @session.number == "2" %>
	<%= link_to "Create Target Sequence Plan", new_patient_path %>
	<% else %> 
	<p><%= link_to "Start Cycle", root_path %> 
		<br>
		<em>Note: Please wait for cycle to fully load.</em>
	</p>
<% end %>
</p>
